.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items {
  padding: 20px 30px;
}

.logo {
  width: 200px;
}

.nav-items > ol {
  display: flex;
}

.nav-items > ol > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  font-size: 20px;
}

.restaurant-card {
  width: 254px;
  margin-bottom: 80px;
  padding: 20px 20px 28px;
}
.restaurant-card:hover {
  cursor: pointer;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
}

.restaurant-card > h3,
h4 {
  margin: 5px;
}

.restaurant-card > h3.rest-name {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}

.restaurant-card > h4.rest-cuisines {
  font-size: 14px;
  color: #686b78;
  font-weight: 100;
}

.restaurant-container > a {
  color: inherit;
  text-decoration: none !important;
}

.restaurant-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  grid-gap: 1rem;
  padding: 1rem 0.5rem;
}

.food-card {
  width: 100%;
}

.shimmer-container {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-cards {
  background-color: #f0f0f0;
  height: 300px;
  width: 205px;
  padding: 5px;
  margin: 10px;
}

.filter {
  display: flex;
}

p.cuisines,
p.milestravel {
  color: #7e808c;
  margin: 6px 3px 0 0px;
}

.res-menu {
  max-width: 800px;
  max-height: 800px;
  box-sizing: border-box;
  margin: 20px auto 0;
}

.res-menu .res-name {
  color: #282c3f;
  font-weight: 600;
  font-size: 1.43rem;
  font-family: sans-serif;
  margin-bottom: 8px;
}
